body {
    font-family: "Roboto", sans-serif;
    --txt-color: #212121;
    --brand-color: #2196f3;
    --additional-color: #ffffff;
    --description-color: #757575;
    --minor-color: #2f303a;
    --logo-font-size: 26px;
    --important-font-size: 16px;
    --extra-font-size: 14px;
}
.headline-st {
    background-color: var(--additional-color);
    border: 1px solid #ececec;
}
.link {
    font-weight: 500;
    font-size: var(--extra-font-size);
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    color: var(--txt-color);
}
.link:hover {
    color: var(--brand-color);
}
.link-contact {
    font-family: inherit;
    font-size: var(--extra-font-size);
    text-decoration: none;
    color: var(--description-color);
}
.link-contact:hover {
    color: var(--brand-color);
}
.logo-first {
    font-family: "Raleway";
    font-size: var(--logo-font-size);
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: var(--brand-color);
}
.logo-second {
    font-family: "Raleway";
    font-size: var(--logo-font-size);
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: #000000;
}
.logo-second-bar {
    font-family: "Raleway";
    font-size: var(--logo-font-size);
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: var(--additional-color);
}
.list {
    list-style: none;
}
.prime-st {
    background-color: var(--minor-color);
    text-align: center;
}
.prime-title {
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--additional-color);
}
.prime-btn {
    cursor: pointer;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: var(--important-font-size);
    letter-spacing: 0.06em;
    line-height: 1.87;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: var(--brand-color);
    color: var(--additional-color);
}
.ipsum-title {
    font-family: inherit;
    font-weight: 700;
    font-size: var(--extra-font-size);
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--txt-color);
}
.ipsum-text {
    font-family: inherit;
    font-size: var(--extra-font-size);
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: var(--description-color);
}
.title {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.16;
    color: var(--txt-color);
}
.team-st {
    text-align: center;
    background-color: #f5f4fa;
}
.team-card {
    width: 270px;
    height: 368px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--additional-color);
}
.name {
    font-family: inherit;
    font-weight: 500;
    font-size: var(--important-font-size);
    letter-spacing: 0.03em;
    line-height: 1.18;
    color: var(--txt-color);
}
.position {
    font-family: inherit;
    font-size: var(--important-font-size);
    letter-spacing: 0.03em;
    line-height: 1.18;
    color: var(--description-color);
}
.portfolio-btn {
    cursor: pointer;
    border: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: var(--important-font-size);
    letter-spacing: 0.03em;
    line-height: 1.62;
    text-align: center;
    color: var(--txt-color);
    background-color: #f5f4fa;
}
.portfolio-btn:hover {
    color: var(--additional-color);
    background-color: var(--brand-color);
}
.project-card {
    width: 370px;
    height: 404px;
    border: 1px solid #eeeeee;
}
.project-name {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
    color: var(--txt-color);
}
.project-type {
    font-family: inherit;
    font-size: var(--important-font-size);
    line-height: 1.87;
    color: var(--description-color);
}
.end-bar {
    background-color: var(--minor-color);
}
.end-bar-ad {
    font-family: inherit;
    font-size: var(--extra-font-size);
    letter-spacing: 0.03em;
    line-height: 1.71;
    font-style: normal;
    color: var(--additional-color);
}
.ad-contact {
    color: #ffffff99;
}
.ad-contact:hover {
    text-decoration: underline;
    color: #ffffff99;
}
